<div class="home">
  <div class="title">
Welcome to <span>Custom Controls - using Angular</span>
  </div>
  <div class="controls">
    <div class="control" routerLink="/radio-buttons">
      <div class="control-title">
          Radio buttons
      </div>
      <p class="control-content">
        Create your custom design radio buttons.
      </p>
      <p class="control-footer">
          &#8702;
      </p>
    </div>
    <div class="control" routerLink="/radio-buttons">
      <div class="control-title">
          Checkbox
      </div>
      <p class="control-content">
        Create your custom design checkbox.
      </p>
      <p class="control-footer">
          &#8702;
      </p>
    </div>
  </div>
</div>
